html, body, #root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body{

  margin: 0;
  font-family: 'Arial', sans-serif;
  background:#fff8ed;
  text-align: center;

}

h1{
  color: #8b4513;
  font-size:45px;

}

h2{
  color: #333;

}

p{
  font-size:20px;

}

button{
  background-color: #8b4513;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}



.cover-page{
  height:100vh;
  width: 300vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin:0;
  padding:0;
  position: relative;
}



.navbar{
  position: absolute;
  top: 30px;
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 30px;
  cursor: pointer;
  z-index: 20;
}

.navbar a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
} 

.navbar a:hover{
  color: #f5a623;
}



#about,
#location,
#contact{
  padding: 15px;
  margin: 0;
}

#about h2,
#location h2,
#contact h2{
  font-size: 25px;
  margin: 5px 0;

}

#about p,
#location p,
#contact p{
  font-size: 20px;
  margin: 5px 0;
}